body {
    background-color: rgb(149, 208, 247);
    
}

#login {
    background-color: rgb(118, 222, 248),;
    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content: space-between;
    height: 50px;
    font-family: 'Cookie', cursive;
    font-size: 25px;
}

#mainBody{
  text-align: center;
  font-family:'Montserrat Alternates'
}